body, html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.sidebar {
    background-color: #1992d4;
    grid-row: 1 / -1;
    padding: 16px;
}

.logo-section {
    display: flex;
    align-items: center;
    font-size: 32px;
    column-gap: 12px;
    color: white;
    padding-bottom: 48px;
}

.logo {
    width: 72px;
    mix-blend-mode: multiply;
}

.menu-item {
    display: flex;
    align-items: center;
    columns: white;
    text-decoration: none;
    font-size: 24px;
    color: white;
    padding-bottom: 12px;
    height: 50px;
}

.icons {
    width: 48px;
    mix-blend-mode: multiply;
    padding-right: 16px;
}

.header {
    padding: 12px;
    box-shadow: 0px 1px 2px;
    grid-column: 2 / -1;
}

.header-top, .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom {
    padding-top: 36px;
    padding-bottom: 16px;
}

.search-section, .user-section, .profile-section, .button-section {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

#searchbar {
    padding-left: 12px;
    border-radius: 16px;
    width: 48ch;
    height: 24px;
}

button {
    background-color: #1992d4;
    border-radius: 16px;
    border: none;
    padding: 12px 36px;
    color: white;
}

.content-section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50% 50%;
    background-color: rgb(241, 241, 241);
}

.project-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(3, 1fr);
    padding: 16px;
    gap: 16px;
}

h2 {
    grid-column: 1/-1;
    margin: 0;
    padding-left: 8px;
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

.content-box {
    display: grid;
    grid-template-rows: 12% 1fr 20%;
    padding: 8px;
    background-color: white;
    border-left: solid 5px orange;
    border-radius: 10px;
}

.content-links {
    justify-self: end;
}

.announcements {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 16px;
    align-items: start;
    gap: 16px 8px;
}

.announcement-box {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
    border-radius: 10px;
    padding: 1px 24px 1px 24px;
}

.announcement-item {
    display: grid;
    grid-template-rows: 18% 36px;
}

.content-box, .announcement-box, .trending-box {
    box-shadow: 1px 1px 3px lightgray;
}

.trending {
    grid-column: 2 / 3;
}