body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 300px auto 300px;
    grid-template-rows: auto 1fr 1fr;
}

.sidebar {
    background-color: #1992d4;
    grid-row: 1 / -1;
    padding: 16px;
}

.logo-section {
    display: flex;
    align-items: center;
    font-size: 32px;
    column-gap: 12px;
    color: white;
    padding-bottom: 48px;
}

.logo {
    width: 72px;
    mix-blend-mode: multiply;
}

.menu-item {
    display: flex;
    align-items: center;
    columns: white;
    text-decoration: none;
    font-size: 24px;
    color: white;
    padding-bottom: 12px;
    height: 50px;
}

.icons {
    width: 48px;
    mix-blend-mode: multiply;
    padding-right: 16px;
}

.header {
    padding: 12px;
    box-shadow: 0px 1px 2px;
    grid-column: 2 / -1;
}

.header-top, .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom {
    padding-top: 36px;
    padding-bottom: 16px;
}

.search-section, .user-section, .profile-section, .button-section {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

#searchbar {
    padding-left: 12px;
    border-radius: 16px;
    width: 48ch;
    height: 24px;
}

button {
    background-color: #1992d4;
    border-radius: 16px;
    border: none;
    padding: 12px 36px;
    color: white;
}



